* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  background: #f8f8f8;
}

header {
  height: 60px;
  width: 100%;
  background: #222122;
  color: #fff;
  display: flex;
  align-items: center;
}

.container {
  width: 90%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  position: relative;
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-right: 20px;
  font-weight: 550;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

.logo {
  font-size: 24px;
}

.hero {
  width: 100%;
  height: auto;
  background: url(./images/hero-image.jpg) no-repeat center center;
  background-size: cover;
  color: #000;
  text-align: center;
  padding: 140px 0;
  margin-bottom: 20px;
}

.hero h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 20px;
  margin-bottom: 10px;
}

.search-box {
  max-width: 550px;
  margin: 15px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-box input {
  width: 70%;
  padding: 10px;
  outline: none;
  border: 1px solid rgb(245, 37, 9);
  border-radius: 5px 0 0 5px;
  font-size: 1rem;
}

.search-box button {
  padding: 10px 20px;
  outline: none;
  border: 0;
  border-radius: 0px 5px 5px 0px;
  font-size: 1rem;
  background: rgb(245, 37, 9);
  color: #fff;
  cursor: pointer;
}

/* Recipe Section */
.recipes {
  padding: 50px 0;
}

.recipes h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
}

.recipe-section {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 10px;
}

.recipe-card {
  background: #fff;
  margin: 30px 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.recipe-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.recipe-card h2 {
  font-size: 22px;
  padding: 20px;
  margin: 10px;
}

.recipe-card p {
  font-size: 18px;
  margin: 0 10px 10px;
  padding: 20px;
}

.recipe-card a {
  display: block;
  text-align: center;
  padding: 15px 0;
  background: rgb(245, 37, 9);
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
}

footer {
  background: #333;
  padding: 20px 0;
  color: #fff;
  text-align: center;
}

/* Hamburger Menu */
.hamburger {
  display: none; /* Hide by default */
  flex-direction: column;
  cursor: pointer;
  padding: 15px;
}

.line {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px 0;
}

/* Responsive Styles */
@media (max-width: 768px) {
  nav ul {
      display: none;
      flex-direction: column;
      width: 100%;
      background-color: #222122;
      position: absolute;
      top: 60px;
      left: 0;
  }

  nav ul.active {
      display: flex;
  }

  .hamburger {
      display: flex; /* Show hamburger menu on mobile */
  }

  nav ul li {
      margin: 10px 0;
      text-align: center;
  }
}
