.recipe-card {
  background: #fff;
  margin: 30px 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer; /* Indicate that the card is clickable */
  transition: transform 0.2s, box-shadow 0.2s;
}

.recipe-card:hover {
  transform: scale(1.05); /* Slightly scale up on hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* More pronounced shadow */
}

.recipe-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.recipe-card h2 {
  font-size: 22px;
  padding: 20px;
  margin: 10px;
}

.recipe-card p {
  font-size: 18px;
  margin: 0 10px 10px;
  padding: 20px;
}
